.containerFormField {
  margin-bottom: 15px;
}

.labelModal {
  display: block;
  color: #333;
  font-size: 18px;
  text-align: left;
}

p {
  margin: 0;
}

.errorBlock {
  display: block;
  font-family: 'Arial Black';
  height: 22px;
  color: #ff6e77;
}
